[submodule "Project_14/Project_14/ansible-configuration-13"]
	path = Project_14/Project_14/ansible-configuration-13
	url = https://github.com/Johnstx/ansible-configuration-13.git
[submodule "Project_14/php-todo"]
	path = Project_14/php-todo
	url = https://github.com/Johnstx/php-todo.git
